<section class="hero-section position-relative" style="height: 100vh; overflow: hidden;">
  <img src="/img/Background_Server.jpg" class="w-100 img-fluid" alt="Üretim Arka Plan" style="object-fit: cover;">
  <div class="hero-overlay position-absolute top-50 start-50 translate-middle text-center text-white">
    <h1 class="display-4 fw-bold text-danger">Geleceği Üretiyoruz</h1>
    <p class="lead">@(DateTime.Now.Year-1999) YILDIR BAŞARI HİKAYEMİZİ SİZLERLE YAZIYORUZ.</p>
  </div>
</section>