@{
    ViewData["Title"] = "Yeni Hücre Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<express_website.Models.AlanClass>



<h2>Yeni Hücre Ekle</h2>

<form asp-area="Admin" asp-controller="Hucre" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label for="hucreMetin" class="form-label">Hücre Metni</label>
        <textarea name="hucreMetin" class="form-control" rows="5" required></textarea>
    </div>
    
    <div class="form-group">
        <label for="alanId" class="control-label">Ait Olduğu Alan</label>
        <select type="int" name="alanId" class="form-control">
            
            @foreach (var item in Model)
            {
                <option value="@item.AlanId">@item.AlanAdi</option>

            }
            
        </select>
        <span asp-validation-for="alanId" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>