@{
    ViewData["Title"] = "Yeni Başlık Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<express_website.Models.KategoriClass>



<h2>Yeni Başlık Ekle</h2>

<form asp-area="Admin" asp-controller="Baslik" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label for="baslikAdi" class="form-label">Başlık Adı</label>
        <input type="text" name="baslikAdi" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="kategoriId" class="control-label">Kategori</label>
        <select type="int" name="kategoriId" class="form-control">
            
            @foreach (var item in Model)
            {
                <option value="@item.KategoriId">@item.KategoriAdi</option>

            }
            
        </select>
        <span asp-validation-for="kategoriId" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

