@{
    ViewData["Title"] = "Yeni Eleman Modeli Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<express_website.Models.ElemanClass>


<h2>Yeni Eleman Modeli Ekle</h2>

<form asp-area="Admin" asp-controller="ElemanModeli" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label for="elemanModeliAdi" class="form-label">Eleman Modeli Adı</label>
        <input type="text" name="elemanModeliAdi" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="fiyatBilgisi1" class="form-label">Fiyat Bilgisi 1</label>
        <input type="int" name="fiyatBilgisi1" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="fiyatBilgisi2" class="form-label">Fiyat Bilgisi 2</label>
        <input type="int" name="fiyatBilgisi2" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="elemanId" class="control-label">Ait Olduğu Eleman</label>
        <select type="int" name="elemanId" class="form-control">
            
            @foreach (var item in Model)
            {
                <option value="@item.ElemanId">@item.ElemanAdi</option>

            }
            
        </select>
        <span asp-validation-for="elemanId" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>