@model List<Project>
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Projeler</h2>

<a class="btn btn-success mb-3" href="/Admin/Project/Create">Yeni Proje Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.ImagePath" width="100" /></td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/Admin/Project/Delete/@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>