@*@model List<Project>*@
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<express_website.Models.ProjeClass>
<h2>Projeler</h2>

<a class="btn btn-success mb-3" href="/Admin/Project/Create">Yeni Proje Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var base64Image = Convert.ToBase64String(item.ProjeGorsel ?? new byte[0]);
            var imageSrc = $"data:image/jpeg;base64,{base64Image}";
            <tr>
                <td><img src="@imageSrc" width="100" /></td>
                <td>@item.ProjeAdi</td>
                
                <td>
                    <form method="post" " onsubmit="return confirm('Silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="id" value="@item.ProjeId" />
                        <button type="submit"  class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
                
                
            </tr>
        }
    </tbody>
</table>