@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Welcome to the Admin Dashboard</h2>
<p>Hello Admin!</p>
<button id="logoutBtn" class="btn btn-danger">Logout</button>

<script>
    document.getElementById("logoutBtn").addEventListener("click", function() {
        fetch('@Url.Action("Logout", "Account", new { area = "Admin" })', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        });
    });
</script>

@Html.AntiForgeryToken()

<hr/>
<div class="card mb-4">
    <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">Hakkımızda Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Buradan ana sayfada gösterilecek Hakkımızda metnini yönetebilirsiniz.</p>
        <a href="/Admin/Hakkimizda" class="btn btn-outline-secondary me-2">Hakkımızda Metnini Gör</a>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Referanslar Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Buradan ana sayfada gösterilecek referans görsellerini yönetebilirsiniz.</p>
        <a href="/Admin/Reference" class="btn btn-outline-primary me-2">Tüm Referansları Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Projeler Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Projeleri buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Project" class="btn btn-outline-success me-2">Tüm Projeleri Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-warning text-white">
        <h5 class="mb-0">Bloglar Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Blogları buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Blog" class="btn btn-outline-warning me-2">Tüm Blogları Gör</a>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">İletişim Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>İletişimleri buradan görüntüleyebilirsiniz.</p>
        <a href="/Admin/Iletisim" class="btn btn-outline-info me-2">İletişim</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Kategori Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Kategorileri buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Kategori" class="btn btn-outline-danger me-2">Tüm Kategori Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Başlık Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Başlıkları buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Baslik" class="btn btn-outline-danger me-2">Tüm Başlıkları Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Alt Başlık Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Alt Başlıkları buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/AltBaslik" class="btn btn-outline-danger me-2">Tüm Alt Başlıkları Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Eleman Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Elemanları buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Eleman" class="btn btn-outline-danger me-2">Tüm Elemanları Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Eleman Modeli Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Eleman Modellerini buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/ElemanModeli" class="btn btn-outline-danger me-2">Tüm Eleman Modellerini Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Alan Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Alanları buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Alan" class="btn btn-outline-danger me-2">Tüm Alanları Gör</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-0">Hücre Yönetimi</h5>
    </div>
    <div class="card-body">
        <p>Hücreleri buradan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Admin/Hucre" class="btn btn-outline-danger me-2">Tüm Hücreleri Gör</a>
    </div>
</div>


