<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark p-3">
        <a class="navbar-brand text-white" href="/Admin/Dashboard">Admin Panel</a>
        <a class="text-white" href="/">Back to Site</a>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>
</body>
</html>