@{
    ViewData["Title"] = "Yeni Eleman Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<express_website.Models.AltBaslikClass>

@foreach (var item in Model)
{
    <p>@item.AltBaslikAdi</p>
}

<h2>Yeni Eleman Ekle</h2>

<form asp-area="Admin" asp-controller="Eleman" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label for="elemanAdi" class="form-label">Eleman Adı</label>
        <input type="text" name="elemanAdi" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="elemanMetin" class="form-label">Eleman Metni</label>
        <textarea name="elemanMetin" class="form-control" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <label for="altBaslikId" class="control-label">Alt Başlık</label>
        <select type="int" name="altBaslikId" class="form-control">
            
            @foreach (var item in Model)
            {
                <option value="@item.AltBaslikId">@item.AltBaslikAdi</option>

            }
            
        </select>
        <span asp-validation-for="altBaslikId" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>