@model express_website.Models.KategoriClass
@{
    ViewData["Title"] = "Kategori Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Kategori Düzenle</h2>

<form asp-area="Admin" asp-controller="Kategori" asp-action="Edit" method="post">
    <input type="hidden" name="KategoriId" value=@Model.KategoriId />
    

    

    <div class="mb-3">
        <label asp-for="@Model.KategoriAdi" class="form-label">Kategori Adı</label>
        <input type="text" name="KategoriAdi" value="@Model.KategoriAdi"  class="form-control" required />
        
    </div>

    <div class="mb-3">
        <label asp-for="@Model.KategoriMetin" class="form-label">Kategori Metni</label>
        <textarea name="KategoriMetin" class="form-control" rows="5" required>@Model.KategoriMetin</textarea>
        
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>